*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.fondo{
    height: 100vh;
    width: 100%;
    background-image: url(/img/fondo9.jpg);
    background-size: cover;
    font-family: 'Roboto Flex', sans-serif;
    background-position: center;
    position: relative;
}
.logo{
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 15px 20px;
}

nav ul li a{
    
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(239, 73, 73);
    transition: 0s;
    
}

.info{
    position: absolute;
    top:30%;
    left:8%;
}

h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 35px;
}

h3{
    color: white;
    font-size: 25px;
    margin-bottom: 40px;
}
h4{
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-size: 20px;
}


.btn{
    color: white;
    border: 2px solid rgb(227, 2, 2);
    border-radius: 51px;
    padding: 5px 10px;
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(227, 2, 2);
    -webkit-box-shadow: 0px 0px 13px 3px #FF0000; 
    box-shadow: 0px 0px 13px 3px #FF0000;
    }
    

.btn:hover{
    color: rgb(143, 30, 30);
    
}

span{
    color: rgb(227, 49, 49);
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footerconte{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.redes{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    
}

.redes a{
    text-decoration: none;
    color: #fff;
    padding: 15px;
}
.redes a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.redes a:hover i{
    color: rgb(255, 0, 0);
}


